@model IEnumerable<AvcolGrpsCharity.Models.Donations>

@{
    ViewData["Title"] = "Index";
}

<h1>Donations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form> @* This is the search functionaliy *@


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonationAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donors.Donor_email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DonationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DonationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
