@model AvcolGrpsCharity.Models.CharityGrpStaff

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CharityGrpStaff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffMember_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffMember_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffMember_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffMember_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffMember_phonenum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffMember_phonenum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignedCharityGrps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignedCharityGrps.ChartyGrp_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StaffmemberID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
